<%- include("partials/header.ejs") %>
<div class="content about-page">
    <div class="container main">
        <h3>About</h3>
        <p>This is an anime-find website built by Anoushka, an undergraduate Btech student. It is built using Jikan API(4.0.0).Anime Sage is a place for anime fans who want quick, clear, and reliable recommendations. Whether you’re new to anime or a long-time fan, Anime Sage helps you decide what to watch next without confusion.

            We focus on simplicity—clean design, easy navigation, and curated suggestions based on genres, popularity, and mood. No clutter, no endless searching—just anime that matches your taste.
            
            The site features a dark theme for comfortable browsing and is built to be fast and responsive across all devices.
            
            Anime Sage is constantly evolving, with more recommendations, improved filtering, and better user experience planned ahead.
            
            Sit back, explore, and discover your next favorite anime.
        </p>
    </div>
</div>
<%- include("partials/footer.ejs") %>