<%- include("partials/header.ejs") %>
<div class="content">
    <div class="container main">
        <h1 class="rocknroll-one-regular">AnimeSage</h1>
        <div class="trending">
            <h3>My Watchlist</h3>
            <div class="inside-content" id="watchlist-container">
                <!-- filled by watchlist.js -->
            </div>
        </div>
    </div>
</div>
</div>
<%- include("partials/footer.ejs") %>
</div>
